.wrapper {
    width: 100%;
    min-height: 4.4rem;
}

.bubble {
    width: fit-content;
    max-width: 80%;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: rgb(225, 225, 225);
    border: 0.1rem solid white;
    border-radius: 2rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem;
}

.yourself {
    float: right;
    margin-right: 1.6rem;
}

.other {
    float: left;
    margin-left: 1.6rem;
}
